/* //trasformare hover in headerusername */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 100%;
    height: 100vh;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    background-color: honeydew;
}

.left_container {
    width: 40%;
    height: 100%;
    background-color: hotpink;
}

.right_container {
    width: 60%;
    height: 100%;
    background-color: greenyellow;
}

.header {
    height: 10%;
    background-color: khaki;
}

.myUser_header,
.otherUser_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myUserSpecs,
.otherUserSpecs {
    justify-items: center;
    display: flex;
    height: 100%;
    padding: 5px;
}

.myUserImg,
.otherUserImg {
    height: 100%;
}

.myUserImg img,
.otherUserImg img {
    height: 100%;
    border-radius: 50%;
}

.otherUserName h2 {
    padding-left: 1px;
}

.littleNav {
    padding-right: 5px;
}

.notification {
    padding: 5px;
    width: 100%;
    height: 12%;
    background-color: blue;
}

.notification_icon {
    float: left;
    background-color: white;
    border-radius: 50%;
}

.notification_icon i {
    font-size: 30px;
    padding: 10px;
}

.notification_text {
    float: left;
}

.search_bar {
    height: 5%;
    background-color: teal;
}

.search_bar input {
    width: 93%;
}

#iconbar {
    width: 5%;
    background-color: white;
}

.users {
    overflow-y: scroll;
    height: 73%;
}

.user_box {
    height: 10%;
}

.UserImg {
    height: 100%;
    float: left;
}

.UserName {
    padding-left: 70px;
}

.UserImg img {
    border-radius: 50%;
    height: 100%;
}

.main_chat {
    width: 100%;
    height: 83%;
    background-image: url(../img/mine.jpg);
}